div.gallery {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    width: 90%;
    border: dashed;
    margin: auto;
    justify-content: center;
}

.gallery img {
    width: 15em;
}

.gallery img:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
}